@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Outline|Bungee+Shade|Press+Start+2P');
kbd {
  background-color: #111;
  color: white;
  padding: 0.2em;
  font-family: Consolas, monospace;
}
body {
  background: url(./../img/cubes.png);
  -o-background-size: 500px;
     background-size: 500px;
  background-position: top center;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}
.hero-unit {
  border-radius: 0;
  -webkit-border-radius: 0;
}
#game {
  position: relative;
  margin: 33px auto;
  width: 800px;
  height: 800px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
#game div,
#canvas {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 660px;
  height: 460px;
  font-family: 'Bungee', Consolas, monospace;
  background-color: #222;
  color: springgreen;
  border: 10px solid springgreen;
  display: none;
}
#loader {
  margin: 33px auto;
  position: relative;
  top: 0;
  left: 0;
  width: 780px;
  height: 580px;
  background-color: #FFEAB9;
  border: 10px solid #FF6347;
}
#menu h1,
#credits h3 {
  color: tomato;
  font-family: 'Bungee Outline';
  font-weight: bold;
  font-size: 60px;
}
#menu h2 {
  color: indianred;
}
#menu h3 {
  margin-bottom: -11px;
  text-align: left;
}
#menu p.well {
  background-color: #222;
  border: 2px solid springgreen;
  font-family: Consolas, monospace;
}
#menu .btn {
  font-family: 'Bungee';
  color: springgreen;
  border: 4px solid springgreen;
}
#intro,
#dialog {
  display: none;
  opacity: 1;
  color: white;
  text-align: center;
}
#intro h2 {
  font-family: 'Bungee Shade';
  color: tomato;
  font-size: 64px;
  line-height: 1.2;
}
#intro h3 {
  color: indianred;
}
#intro img {
  display: block;
  margin: 0 auto;
  width: 126px;
  height: 196px;
}
#intro footer,
#dialog footer,
#credits footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
}
#intro footer p,
#dialog footer p,
#credits footer p {
  font-family: 'Press Start 2P';
  margin: 0 auto;
  font-size: 14px;
}
#game #dialog,
#game #credits {
  font-family: 'Press Start 2P';
}
#dialogMessage.paused,
#dialogMessage.over {
  font-size: 31.5px;
}

#dialog h3 {
  color: tomato;
  font-family: Bungee;
  font-size: 2em;
}
#dialogP,
#credits ul {
  font-size: 0.85em;
  color: wheat;
}
#dialog li,
#credits li {
  margin-bottom: 1em;
}
#canvas {
  width: 780px;
  height: 580px;
  background-color: #333;
}
#game #overlay {
  width: 780px;
  height: 580px;
  background-image: url(./../img/filmgrain.gif);
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.2;
}
#mobile {
  font-family: Consolas, monospace;
}
noscript {
  position: absolute;
  top: 10px;
  width: 100%;
}
#joystick-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 300px;
}
#joystick {
  background: white;
}
#spacebar {
  
}
