#game {
  position: relative;
  margin: 20px auto;
  width: 800px;
}
#game div,
#canvas {
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  font-family: 'Press Start 2P', Consolas, monospace;
  background-color: #222;
  color: white;
  box-shadow: 10px 0 100px #222 inset;
  border: 10px solid #ddd;
  display: none;
}

#menu h1 {
  color: tomato;
}
#menu p {
  font-size: 1.5rem;
}
#dialog {
  display: none;
  opacity: 1;
  color: white;
  width: 800px;
  height: 600px;
  transition: opacity 1s ease-in-out;
  text-align: center;
}

#dialog h2 {
  color: tomato;
  font-size: 4rem;
}

#dialog img {
  display: block;
  margin: 0 auto;
  width: 126px;
  height: 196px;
}

#dialog footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
}

#dialog footer p {
  margin: 0 auto;
  font-size: 14px;
}

#resume {
}

#canvas {
  background-color: #222;
}
##canvas {
  box-shadow: 0 0 100px white;
  filter: grayscale(.9);
  animation: light 2s ease-in-out infinite;
}

#overlay {
  background-image: url(./img/filmgrain3.gif);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .25;
  border-radius: 10px;
}

@keyframes light {
  0%, 100% {
    box-shadow: 10px 0 100px #ccc;
  }
  25%, 75% {
    box-shadow: 0 0 250px #ccc;
  }
  50% {
    box-shadow: -10px 0 200px #ccc;
  }
}
