/* press-start-2p-regular - latin-ext_latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('../font/press-start-2p-v5-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
       url('../font/press-start-2p-v5-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/press-start-2p-v5-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/press-start-2p-v5-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/press-start-2p-v5-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/press-start-2p-v5-latin-ext_latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}
/* bungee-outline-regular - latin-ext_latin */
@font-face {
  font-family: 'Bungee Outline';
  font-style: normal;
  font-weight: 400;
  src: url('../font/bungee-outline-v2-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bungee Outline'), local('BungeeOutline-Regular'),
       url('../font/bungee-outline-v2-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/bungee-outline-v2-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/bungee-outline-v2-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/bungee-outline-v2-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/bungee-outline-v2-latin-ext_latin-regular.svg#BungeeOutline') format('svg'); /* Legacy iOS */
}
/* bungee-shade-regular - latin */
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  src: url('../font/bungee-shade-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bungee Shade'), local('BungeeShade-Regular'),
       url('../font/bungee-shade-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/bungee-shade-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/bungee-shade-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/bungee-shade-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/bungee-shade-v2-latin-regular.svg#BungeeShade') format('svg'); /* Legacy iOS */
}
kbd {
  background-color: black;
  color: white;
  padding: 0.2em;
  font-family: Consolas, monospace;
}
body {
  background: url(./../img/cubes.png);
  -o-background-size: 300px;
     background-size: 300px;
}
.hero-unit {
  border-radius: 0;
  -webkit-border-radius: 0;
}
#game {
  position: relative;
  margin: 20px auto;
  width: 800px;
  height: 800px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
#game div,
#canvas {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 660px;
  height: 460px;
  font-family: 'Press Start 2P', Consolas, monospace;
  background-color: #222;
  color: springgreen;
  border: 10px solid springgreen;
  display: none;
}

#menu h1 {
  color: tomato;
  font-family: 'Bungee Outline';
  font-weight: bold;
}
#menu h5 {
  margin-bottom: 0;
  padding-bottom: 0;
}
#menu hr {
  border-color: springgreen;
}

#menu p.well {
  background-color: #222;
  color: springgreen;
  border: 2px solid springgreen;
  font-family: Consolas, monospace;
}

#menu .btn {
  font-weight: bold;
  font-family: 'Bungee Shade';
  color: springgreen;
  border: 2px solid springgreen;
}

#intro,
#dialog {
  display: none;
  opacity: 1;
  color: white;
  text-align: center;
}

#intro h2 {
  color: tomato;
  font-size: 64px;
}

#intro img {
  display: block;
  margin: 0 auto;
  width: 126px;
  height: 196px;
}

#intro footer,
#dialog footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
}

#intro footer p,
#dialog footer p {
  margin: 0 auto;
  font-size: 14px;
}
#dialog h3 {
  color: tomato;
}
#dialog li {
  margin-bottom: 1em;
}

#dialog.paused {
  opacity: 0.5;
}

#resume {
}

#canvas {
  width: 780px;
  height: 580px;
  background-color: #333;
}

#game #overlay {
  width: 780px;
  height: 580px;
  background-image: url(./../img/filmgrain.gif);
  background-repeat: no-repeat;
  background-color: transparent;
}
